@import "../styles/variables";

.dialog {
  background: white;
  width: 550px;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: auto;
  border: 1px solid @borderColor;
  border-bottom: 0;
  border-top: 0;

  &__header {
    border-bottom: 1px solid @borderColor;
    padding: 16px 15px;
    margin: 0;
    user-select: none;
    font-weight: 500;
    background: @lightBg;
  }

  &__close {
    float: right;
    font-size: 24px;
    color: @xColor;
    cursor: pointer;
    margin: 3px 0 0 0;
  }

  &__filter {
    padding: 0 0 0 20px;
    border-bottom: 1px solid @borderColor;
  }

  &__selected-users {
    display: inline;
  }

  &__input {
    border: none;
    width: 100px;
    padding: 14px 0;
    outline: none;

    &[fullsize="true"] {
      width: 450px;
    }
  }

  &__hidden {
    display: none !important;
  }

  &__clear {
    font-size: 19px;
    color: @xColor;
    cursor: pointer;
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 20px;
    vertical-align: middle;
    text-align: center;
    float: right;
    background-size: 10px 10px;
  }

  &__spinner {
    background-image: url(../images/spinner.gif);
    background-size: 15px 15px;
  }

  &__friend-list {
    overflow-y: scroll;
    flex: 1;
  }

  &__actions {
    padding: 20px;
    border-top: solid 1px @borderColor;
  }

  &__submit {
    float: right;
  }

  &__name {
    border: none;
    width: 300px;
    padding: 7px;

  }

}

.friend {
  display: block;
  line-height: 34px;
  margin: 0 20px;
  border-bottom: 1px solid @borderColor;
  user-select: none;

  &:hover {
    background-color: @lightBg;
    margin: -1px 0 0 0;
    border-top: 1px solid @borderColor;
    padding: 0 20px;
  }

  &__inner {
    padding: 10px 0;
    height: 34px;
    overflow: hidden;
  }

  &:last-child {
    border-bottom: none;
  }

  &__photo {
    display: inline-block;
    background-size: cover;
    border-radius: 100%;
    float: left;
    width: 34px;
    height: 34px;
  }

  &__name {
    margin: 0 10px;
    font-weight: 500;
    width: 300px;
    display: inline-block;
  }

  &__checkbox {
    float: right;
    margin: 6px 5px 0 0;
  }

}

.user-item {
  display: inline-block;
  margin: 7px 5px 0 0;
  background-color: @tokenBgColor;
  border-radius: 2px;
  color: @tokenColor;
  cursor: pointer;
  user-select: none;

  &__name {
    display: inline-block;
    padding: 5px 0 6px 10px;
    vertical-align: middle;
  }

  &__clear {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 28px;
    background-size: 10px 10px;
    &:active {
      position: relative;
      top: 1px;
    }

  }
}



